:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(173deg, #ffffff 0%, #444 100%);
    min-height: 100vh;
    overflow: hidden;
}

ci-l-nav {
    align-self: stretch;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.container {
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    justify-self: stretch;
    align-self: stretch;
    overflow: auto;

    header {
        background: url(/assets/profile-bg.png);
        background-position: center center;
        background-size: cover;
        min-height: 280px;
        max-height: 280px;
        margin-bottom: -280px;
    }
}

.cards {
    display: flex;
    gap: 48px;
    padding: 48px;
    flex: auto;
    justify-self: stretch;
    align-self: stretch;
    align-items: stretch;
    justify-content: stretch;

    .card {
        min-width: 420px;
        padding: 24px;
        background: rgba(#FFFFFF, .80);
        flex: auto;
        backdrop-filter: blur(12px);
        box-shadow: 0 10px 25px rgba(#000000, .44);
        border-radius: 4.8px;

        &:nth-child(1) {
            width: 350px;
            flex: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: stretch;
            overflow: auto;
        }

        &:nth-child(2) {}
    }
}

.profile-thumb {
    $size: 140px;
    width: #{$size};
    height: #{$size};
    border-radius: #{$size/2};
    background-color: #dedede;
    box-shadow: 0 3px 6px rgba(#000000, .44);
    position: relative;
    overflow: hidden;

    video,
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
    }

    .actions {
        padding: 0 0px 0px;
        background-color: rgba(white, .44);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        bottom: -40px;
        transition: bottom ease-out .44s;

        >* {
            scale: .8;
        }
    }

    &:hover {
        .actions {
            bottom: 0;
        }
    }
}