<h3>Aplicativos</h3>
<div class="apps container">
    @for (app of apps; track $index) {
    <div class="app" (click)="appClickHandler($event, app)" [style.background]="app.color">
        @if(app.icon){
        @if(app.type === 'svg' && !!app.icon){
        <mat-icon [svgIcon]="app.icon" [inline]="true"></mat-icon>
        }@else{
        <mat-icon [inline]="true">{{app.icon}}</mat-icon>
        }
        }
        {{app.name}}
    </div>
    }

    <div class="app">
        <mat-icon [inline]="true">add</mat-icon>
    </div>
</div>