:host {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    padding: 24px;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: stretch;
    flex: auto;

    .app {
        $width: 100px;
        width: #{$width};
        height: #{$width};
        // background: white;
        border-radius: 8px;
        box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .2);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5px;

        cursor: pointer;
        transition: box-shadow ease .5s;

        padding: 12px;

        mat-icon {
            $icon-size: #{$width*.6};

            font-size: #{$icon-size};
            width: #{$icon-size};
            height: #{$icon-size};
            line-height: #{$icon-size};
        }

        &:hover {

            box-shadow: 0 0px 1px 1px rgba(0, 0, 0, .9);
        }
    }
}