<ci-l-nav></ci-l-nav>
<header>
  <h1>Portal Web</h1>
  <p>O SuperApp é um aplicativo web centralizador. Gerencie todas suas ferramentas de um único lúgar, com segurança,
    confialbilidade e alta disponibilidade para você e seus clientes.</p>
</header>

<div class="apps">
  <p>Os aplicativos são desenvolvidos pelas </p>

  <div class="app">
    Financeiro
  </div>
  <div class="app">
    Loja Virtual
  </div>
  <div class="app">
    Loja Física
  </div>
  <div class="app">
    Estoque
  </div>
</div>

<ci-l-footer></ci-l-footer>