<ci-l-nav></ci-l-nav>
<header class="b">
  <h1>Um Sistema de Gestão híbrido, completo para seu Negócio.</h1>
  <p>Com código aberto, qualquer um pode hospedar, customizar e distribuir instalações de novos projetos.</p>
  <!--  <p>Com o sistema que voce almeja</p> -->

</header>
<div class="container color-3">
  <h2>Customiza suas regras com ferramentas low-code ou customizações High-end em cima de uma arquitetura já testada e
    segura.</h2>
</div>
<div class="container color-1">
  <h2>Módulos pré-criados para diversas necessidades comuns</h2>
  <p>Com os módulos pré-moldados você pode partir de um ponto comum e adaptar-lo as necessidades da sua Organização ou
    Grupo.</p>
  <div class="apps">
    <div class="app">
      <h3>Farmácia System</h3>
      <p>Aplicativo para venda em farmácias</p>
    </div>
    <div class="app">
      <h3>Workspace</h3>
      <p>Aplicativo para organizar seu trabalho</p>
    </div>
    <div class="app">
      <h3>Espázio</h3>
      <p>Espaço virtual em tempo real interativo.</p>
    </div>
    <div class="app">
      <h3>PômodoroGo</h3>
      <p>Gerencie seu Tempo e compartilhe com quem quiser.</p>
    </div>
    <div class="app">
      <h3>Vendas Simples</h3>
      <p>Plataforma de gerenciamento de comércio online integrada.</p>
    </div>
    <div class="app">
      <h3>RPG Sandbox</h3>
      <p>Plataforma para criação e gerenciamento de partidas de RPG Online Multiplayer.</p>
    </div>
    <div class="app">
      <h3>Auto-venda</h3>
      <p>Sistema de Auto-venda para Tótens autônomos.</p>
    </div>
    <div class="app">
      <h3>Gym</h3>
      <p>Controle do seu treino e alimentação diária.</p>
    </div>
    <div class="app">
      <h3>StudyBox</h3>
      <p>Plataforma para planejamento de planos de estudos e acompanhamento de domínio.</p>
    </div>
    <div class="app">
      <h3>SaúdeGo</h3>
      <p>Acompanhamento médico simples.</p>
    </div>
  </div>
</div>
<div class="banner-101"></div>
<input type="text" [(ngModel)]="vibrate" placehocer="Vibration">
<button (click)="vibrar()"></button>
<ci-l-footer></ci-l-footer>