<ci-l-nav></ci-l-nav>
<header>
  <h1>Notifier, seus clientes informados</h1>
  <p>Realizamos a conexão seu o cliente de forma séria e efetiva, sem spams.</p>
</header>
<div class="container color-1">
  <h1>Nossas Soluções</h1>
  <div class="apps">
    <div class="app">
      <h1>Farmácia ERP</h1>
      <p>Aplicativo para venda em farmácias</p>
    </div>
    <div class="app">
      <h1>Workspace</h1>
      <p>Aplicativo para organizar seu trabalho</p>
    </div>
  </div>
</div>
<ci-l-footer></ci-l-footer>