.card {
    padding: 24px;
    border: solid 2px rgba(0, 0, 0, .33);
    border-radius: 7px;
    flex: auto;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, .33);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    padding: 48px;

    gap: 24px;
}


.card {
    cursor: pointer;
    color: rgba(0, 0, 0, .88);

    background-color: #229922;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 0;
    margin: 0;

    &+.card {
        background-color: #226688;

        &+.card {
            background-color: #91be13;

            &+.card {
                background-color: #bb79cf;

                &+.card {
                    background-color: #ca7423;

                    &+.card {
                        background-color: #e65fae;

                        &+.card {
                            background-color: #2eb7e0;

                            &+.card {
                                background-color: #b630b6;
                            }
                        }
                    }
                }
            }
        }
    }

    .px-inner {
        background: rgba(255, 255, 255, .11);
        mix-blend-mode: hard-light;
        padding: 24px;
    }
}


.card.clientes {
    background: url('/assets/card-clientes.png');
    background-position: center center;
    background-size: cover;

}

.card.resumo {
    background: url('/assets/card-resumo.png');
    background-position: center center;
    background-size: cover;
}

.card.saldo {
    background: url('/assets/card-saldo.png');
    background-position: center center;
    background-size: cover;
}

.card.vendas {
    background: url('/assets/card-vendas.png');
    background-position: center center;
}
.card.transacoes{
    background: url('/assets/card-vendas.png');
    packground-position: center center;
}

.banner {
    flex: auto;
    height: 400px;
    background: url('/assets/The Writer.png');
    border: solid 3px rgba(0, 0, 0, .77);
    border-radius: 6px;
}