<div class="container">
    <h1>
        <mat-icon>point_of_sale</mat-icon>
        Financeiro
    </h1>
    <div class="cards">
        <div class="card saldo">
            <div class="px-inner">
                <h1>Saldo</h1>
            </div>
        </div>
        <div class="card vendas">
            <div class="px-inner">
                <h1>Vendas</h1>
            </div>
        </div>
        <div class="card clientes">
            <div class="px-inner">
                <h1>Clientes</h1>
            </div>
        </div>
        <div class="card resumo">
            <div class="px-inner">
                <h1>Resumo do dia</h1>
            </div>
        </div>
    </div>
    <header class="banner">
    </header>
</div>