:host {
    display: contents;
    // overflow: auto;
    // flex: auto;
}

.grid-container {
    flex: auto;
    
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}