<div class="container">
    <form>
        <p>Acesse a partir de sua identificação dentro da Plataforma. Caso não lembre, tente seu e-mail de cadastro.</p>
        <mat-form-field>
            <mat-label>Identificação</mat-label>
            <input matInput type="text" placeholder="Apelido ou E-mail">
        </mat-form-field>
        <button mat-raised-button>Entrar</button>
        <a href="/registrar">Não possuo conta ci.dev.br</a>
    </form>
</div>
<footer>

    <div class="assinatura">
        ci.dev.br 2024. Todos os direitos reservados.
    </div>
</footer>