/* 
    App Component
    by: .plhx~
*/
:host {
    width: 100dvw;
    height: 100cqh;
    overflow: auto;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

div {
    display: flex;
    flex: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

div {
    display: contents;
}

.--dev-mode {
    border: 3px dashed rgba(red, .5);
    position: fixed;
    inset: 1px;
    z-index: 10000000;
    display: block;
    border-radius: 12px;
    user-select: none;
    pointer-events: none;
}

::ng-deep body {
    /* :has(.--dev-mode) */
    background-color: black;
}

.loader-container {
    // Fixa na tela inteira
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    // Cores Neutras (Dark Mode Clean)
    background-color: #000000;
    color: #888888; // Cinza médio para elegância

    // Centralização perfeita
    display: grid;
    place-items: center;

    // Fonte
    font-family: sans-serif; // Usa a fonte do sistema
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.loading-text {
    // Animação de "respiração" (Pulso)
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}