/* 
    App Component
    by: .plhx~
*/
:host {
    width: 100dvw;
    height: 100cqh;
    overflow: auto;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

div {
    display: flex;
    flex: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

div {
    display: contents;
}

div.--dev-mode {
    border-radius: 8px;
    border: 1px solid red;
    // margin: 15px;
    box-shadow: inset 1px 1px 6px rgba(150, 0, 0, .85);

    position: absolute;
    inset: 1px;
    //  background-color: rgb(235, 244, 245);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

::ng-deep body:has(.--dev-mode) {
    background-color: black;
}

.loader-container {
    // Fixa na tela inteira
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    // Cores Neutras (Dark Mode Clean)
    background-color: #000000;
    color: #888888; // Cinza médio para elegância

    // Centralização perfeita
    display: grid;
    place-items: center;

    // Fonte
    font-family: sans-serif; // Usa a fonte do sistema
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.loading-text {
    // Animação de "respiração" (Pulso)
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}