<style>
    header {
        padding: 24px;
    }
</style>
<nav>
    <div class="logo">
        x²<span class="sub">, xx.app.br</span>
    </div>
    <span style="flex: auto"></span>
    <button mat-icon-button>
        <mat-icon>login</mat-icon>
    </button>
</nav>
<header>
    <h1>x²</h1>
    <p>A plataforma que conecta você ao mundo, sem perder o controle. </p>

    <div class="row">
        <button mat-raised-button>Acessar</button>
        <button mat-button>Primeiro Acesso</button>
    </div>
</header>
<span style="flex: auto;"></span>
<footer>
    <div class="assin atura">
        por <a href="https://www.instagram.com/plhx/">&#64;plhx</a>. Todos os direitos reservados. 2024 - <a
            href="">Termos de Uso</a> - <a href="">Termos de
            Privacidade</a> - <a href="">LGPD</a> -
        <a href="">Contato</a>
        <span style="flex: auto"></span>
        <a href="">Licença</a>
    </div>
</footer>