<div class="container">
    <h1>
        <mat-icon>domain</mat-icon>
        Infraestrutura
    </h1>
    <div class="cards">
        <div class="card">
            <h1>Domínios</h1>
            <nav class="actions">
                <button mat-icon-button matTooltip="Adicionar Domínio">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </nav>
        </div>
        <div class="card">
            <h1>Servidores</h1>
            <nav class="actions">
                <button mat-icon-button matTooltip="Adicionar Servidor">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </nav>
        </div>
        <div class="card">
            <h1>Paineis</h1>
            <nav class="actions">
                <button mat-icon-button matTooltip="Adicionar Painel">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </nav>
        </div>
    </div>
</div>