<header class="container">
    <img class="logo" src="logo-colorida.svg" alt="">
    <nav>
        <ul>
            <li>
                <a routerLink="/registrar">Criar Conta</a>
            </li>
            <li>
                <a routerLink="/acessar">Entrar</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container lading">
    <h1>Controle suas informações</h1>
    <p>Gerencie sua entrega e resultados para entender e melhorar suas próximas Ações</p>
</div>

<div class="container modulos">
    <h2>Gerenciamento de Equipes</h2>
    <h2>Controle de Acesso</h2>
    <p>
        Obtenha o controle total do acesso dos seus contribuidores. Visualize o fluxo de dados que acontecem durante as
        operações. Crie regras e obtenha relatórios completos das suas equipes.
    </p>
</div>

<div class="container modulos">
    <h2>Gerenciamento de Equipes</h2>
    <p>Nosso sistema permite o gerenciamento de Equipes de acordo com sua necessidade organizacional.</p>
</div>

<div class="container modulos">
    <h2>Gerenciamento de Funcionalidades</h2>
    <p></p>
</div>

<footer>

    <div class="assinatura">
        ci.dev.br 2024. Todos os direitos reservados.
    </div>
</footer>