:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex: auto;
    overflow: auto;
    color: var(--mat-app-text-color);
}

.logo {
    width: 250px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    mix-blend-mode: darken;
}

header {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 48px;
    flex: auto;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
}


.apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;

    justify-content: space-evenly;
    align-items: stretch;

    >mat-card {
        width: 3cm;
        height: 3cm;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}

.page--wrapper {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: auto;
}

.qra:has(.sidebar) {
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;

    .sidebar {
        flex: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-width: 200px;
        // background: rgba(0, 0, 0, .5);
        padding: 24px;
        gap: 12px;

        //  background-color: white;

    }

    .apps {
        flex: auto;
    }
}

.row {
    display: flex;
    flex-direction: row;

    &.end {
        align-items: end;
        justify-content: flex-end;
    }
}

.sidebar {
    // background-color: var(--mat-app-background-color);
    display: flex;
    flex-direction: column;
    width: 245px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.45);
    padding: 24px;
    border-radius: 12px;
    transition: all 1.5s ease;
    overflow: hidden;


    >* {
        transition: opacity .5s ease-in-out;
        opacity: 1;

    }

    &.--inactive {
        background-color: white;
        cursor: pointer;
        left: 25px;
        top: 25px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        overflow: hidden;
        padding: 0;
        margin: 0;

        >* {
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }
    }
}

x-footer,
ci-navbar {
    z-index: 1;
}

video {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    user-select: none;
    overflow: hidden;
    pointer-events: none;

    &::-webkit-media-controls {
        display: none !important;
    }

    &::-moz-media-controls {
        display: none !important;
    }

    &::-ms-media-controls {
        display: none !important;
    }

}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 12px;
}

.container {
    flex: auto;
    // background-color: white;
    border-radius: 24px;
    padding: 0px 24px 24px 24px;
    width: auto;
    max-width: 33cqmax;
    justify-content: center;
    align-items: center;
    // filter: drop-shadow(0 1px 7px rgb(0, 0, 0));
}

mat-form-field {
    min-width: 60vw;
}