<ci-navbar></ci-navbar>
<div class="page--wrapper" [style.background-image]="`url(${bg})`">
    @if(!!(userService.user |async)){
    <!-- 
        Visualização quando autenticado
    -->
    <div class="wrapper">
        <div class="sidebar">
            <button mat-raised-button color="primary" routerLink="/meus-apps">Meus Apps</button>
            @if(categorias){@for (item of categorias; track $index) {
            <button mat-button>{{item.name}}</button>
            }}
            <span style="flex:auto"></span>
            <div class="row end">
                <button mat-icon-button (click)="openSidebarSettings()"><mat-icon>settings</mat-icon></button>
            </div>
        </div>
        <div class="container">
            <h1>Utilize o Apps para criar aplicativos incríveis e eficientes que auxiliam suas operações no dia-a-dia.
            </h1>
            <p>
                Gerencie conexões, aplicativos e código-fonte. Integre de forma simples. Configure seu ambiente de
                desenvolvimento em poucos passos.
            </p>
        </div>
        <div class="apps">
            @for (item of apps; track $index) {
            <mat-card (click)="appClickHandler($event, item)">
                {{item.name}}
            </mat-card>
            }
        </div>
    </div>
    }@else {
    <!-- 
        Área do não assinante
    -->
    <header class="container">
        <figure>
            <img class="logo" src="logo-colorida.svg"
                alt-label="Logo 'apps.ci.dev.br' escrita em manuscrito e colida degradê em minúsculo">
        </figure>
    </header>
    }
</div>
<x-footer />