:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    //  text-align: center;
    height: 100vh;
    overflow: auto;
}

.logo {
    width: 250px;
    object-fit: cover;
}

header {
    position: relative;
}

.container {
    max-width: 80vw;
    display: flex;
    width: 900px;
    flex-direction: column;
    align-self: center;
    padding: 24px;

    flex: auto;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex: 0;

    color: white;
    background: rgba(0, 0, 0, .99);

    .assinatura {
        font-weight: 100;
        font-size: 10px;
    }
}