:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    //  text-align: center;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.logo {
    width: 250px;
    object-fit: cover;
}

header {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 48px;
    flex: auto;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
}


.apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;

    justify-content: space-evenly;
    align-items: stretch;

    >mat-card {
        width: 3cm;
        height: 3cm;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}

.page--wrapper {

    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    flex: auto;
    overflow: auto;

    position: relative;
}

.qra:has(.sidebar) {
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;

    .sidebar {
        flex: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-width: 200px;
        background: rgba(0, 0, 0, .5);
        padding: 24px;
        gap: 12px;
    }
    .apps {
        flex: auto;
    }
}
.row {
    display: flex;
    flex-direction: row;

    &.end {
        align-items: end;
        justify-content: flex-end;
    }
}
x-footer,ci-navbar{
    z-index: 1;
}
video {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    user-select: none;
    overflow: hidden;
    pointer-events: none;

    &::-webkit-media-controls {
        display: none !important;
    }

    &::-moz-media-controls {
        display: none !important;
    }

    &::-ms-media-controls {
        display: none !important;
    }

}