<div class="title">
    Configurações da Prancheta
</div>
<div class="wrapper">
    <mat-form-field [appearance]="'outline'">
        <mat-label>Título</mat-label>
        <input type="text" matInput [(ngModel)]="title">
    </mat-form-field>
    <!--  {{prancheta | json}} -->
    <h4>Layout:</h4>
    <div class="layouts">
        <ng-container *ngFor="let layout of layouts">
            <ci-layout-thumb (click)="layoutSelecionado=layout" [data]="layout"></ci-layout-thumb>
        </ng-container>
    </div>
</div>