.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 12px;
}


.cards {
    padding: 24px;
    /// flex: auto;
    /// margin: 48px;
    /// gap: 24px;
    /// display: flex;
    /// flex-direction: row;
    /// flex-wrap: wrap;
    /// justify-content: center;
    /// align-items: center;

    .empty-card,
    .card-wrapper {
        border: solid 3px rgba(black, .33);
        border-radius: 6px;
        background: rgba(black, .10);

        backdrop-filter: blur(10px);

        // padding: 0 24px;
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        min-width: 250px;
        min-height: 125px;

        position: relative;
        overflow: hidden;

        ::ng-deep {
            .card-title {
                position: absolute;
                left: 12px;
                top: 12px;
                z-index: 300;
                pointer-events: none;
                user-select: none;
            }

            .card-content-full {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 200;
            }
        }

        .widget-settings {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: white;
            z-index: 10000;
            transform: rotateY(90deg);
            transition: transform ease .45s;

            display: flex;
            flex-direction: column;
            padding: 24px;
            overflow: auto;

            &.--config {

                transform: rotateY(0);
            }

            .menu {
                position: fixed;
                right: 5px;
                top: 0;
                display: flex;
                flex-direction: row;
            }
        }

    }
}
