<ci-l-nav></ci-l-nav>
<header>
    <h1>Produtos</h1>
    <!-- <p>Cadastro de Produtos</p> -->
    <div class="nav">
        <button mat-raised-button (click)="cadastrarNovo()">
            <mat-icon>add</mat-icon>
            Cadastrar
        </button>
        <button mat-raised-button (click)="getAll()">
            <mat-icon>search</mat-icon>
            Procurar
        </button>

        @if(!!itemSelecionado){
        <button mat-raised-button (click)="delete(itemSelecionado)">
            <mat-icon>delete</mat-icon>
            Excluir
        </button>
        <button mat-raised-button>
            <mat-icon>edit</mat-icon>
            Editar
        </button>
        }
    </div>
</header>
<div class="row">
    <ci-data-grid [source]="lista" [options]="grid" (select)="itemSelecionado=$event" (sorted)="sort = $event">
        <div vazio>Nenhum produto listado.</div>
    </ci-data-grid>
    @if(itemSelecionado){

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{_itemSelecionado?.shortDescription || _itemSelecionado?.description}}</mat-card-title>
            <mat-card-subtitle>{{_itemSelecionado?.codigoBarras}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                {{_itemSelecionado?.description || _itemSelecionado?.shortDescription }}
            </p>
        </mat-card-content>
    </mat-card>
    <!--  <div> -->
    <!--   {{itemSelecionado | json}} -->
    <!--  </div> -->
    }
</div>