<nav>
  <ng-container *ngIf="$user | async">
    <button *ngIf="apps" mat-icon-button [matMenuTriggerFor]="appsMenu">
      <mat-icon>domain</mat-icon>
    </button>
    <mat-menu #appsMenu>
      <button mat-menu-item *ngFor="let item of apps" [routerLink]="[item.url]">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.name }}
      </button>
    </mat-menu>
    <ng-container *ngIf="!!icon">
      <mat-icon>{{icon}}</mat-icon>
    </ng-container>
    <ng-container *ngIf="!!title">
      {{title}}
    </ng-container>
    <span style="flex: auto"></span>
    <button mat-icon-button [matMenuTriggerFor]="servicosMenu">
      <mat-icon>lan</mat-icon>
    </button>
    <mat-menu #servicosMenu>{{status_services | json}}</mat-menu>
    <button mat-icon-button><mat-icon>print</mat-icon></button>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
    <button mat-icon-button><mat-icon>mark_chat_unread</mat-icon></button>
    <span>
      Bem-vinde,
      {{
      ($user | async)?.fullName ||
      ($user | async)?.username ||
      ($user | async)?.email
      }}
    </span>
    <button mat-raised-button (click)="sair()">Sair</button>
  </ng-container>
  <ng-container *ngIf="!($user | async)">
    <ul>
      <li><a routerLink="/">Início</a></li>
      <li><a routerLink="/criar-conta">Criar Conta</a></li>
      <li><a routerLink="/acessar">Entrar</a></li>
    </ul>
  </ng-container>
</nav>
<div class="breadcrumbs" *ngIf="$user | async">
  <div class="crumb" *ngFor="let crumb of breadcrumb">{{crumb.name || crumb}}</div>
  <!--  <div class="crumb">Teste</div> -->
</div>