:host {
  display: contents;
}
nav {
  background: linear-gradient(to top, #333 0%, #444 100%);
  position: sticky;
  top: 0;
  z-index: 3;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
  &,
  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
    padding: 8px;
  }

  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  ul,
  li {
    display: contents;
  }
}
