<ci-l-nav></ci-l-nav>
<mat-toolbar>
    <button mat-raised-button>
        Adicionar Projeto
    </button>
    <button mat-raised-button>
        Abrir Projeto
    </button>
    <!-- <button mat-raised-button>Procurar tarefa</button> -->
    <mat-select>
        <mat-option></mat-option>
    </mat-select>
    <button mat-raised-button (click)="executar()">Executar</button>
</mat-toolbar>
<!-- <div #info1 class="presentation">
    <h1>Bem-vinde ao Codex!</h1>
    <p>
        Para iniciar selecione uma tarefa para resolver um problema.
    </p>
</div> -->
<div style="display: flex; flex-direction: row; ">
    <div class="nav">
        
    </div>
    <div class="container" style="flex: auto;">
        <ng-container>
            <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
        </ng-container>
    </div>
    <router-outlet></router-outlet>
</div>