:host {
    overflow: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    height: 100vh;
    min-height: 100vh;
}

mat-toolbar {

    $size: 40px;
    flex: none;
    overflow: hidden;

    background: linear-gradient(to top, rgba(#999, .0) 0%, rgba(#222, .33) 100%);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px 10px rgba(#000, .33);
    z-index: 1000;

    mat-form-field {
        margin-bottom: -20px;
        flex: auto;

        ::ng-deep {

            label {
                --mat-form-field-container-height: #{$size};
            }

            --mat-form-field-container-vertical-padding: 10px;

            .mdc-text-field--outlined {
                height: #{$size};
            }
        }

        mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;

            ::ng-deep * {
                font-size: 20px;
                width: 20px;
                height: 20px;
                min-width: 20px;
                min-height: 20px;
            }

        }
    }
}

mat-drawer {
    z-index: 1001;
}

.wrapper {
    flex: auto;

    display: flex;
    flex-direction: column;

    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.container {
    overflow: auto;
    flex: auto;

    --mat-sidenav-container-width: 65px;

    mat-drawer-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        overflow: auto;
    }
}

.ativo {
    background-color: rgba(#222, .70);
    color: white !important;
}