<mat-toolbar>
<ci-logo></ci-logo>
<span style="flex: auto;"></span>
    <button mat-button routerLink="meus-apps" routerLinkActive="ativo">
        Meus Apps
    </button>
    <button mat-button routerLink="/prancheta" routerLinkActive="ativo">
        Dashboard
    </button>
    <button mat-button routerLink="/blog" routerLinkActive="ativo">
        Blog
    </button>
    <mat-form-field appearance="outline" #pesquisaField>
        <mat-label>Pesquisar...</mat-label>
        <input type="text" matInput placeholder="Pesquisar...">
        <button matSuffix mat-icon-button>
            <mat-icon>clean</mat-icon>
        </button>
        <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <span style="flex: auto;"></span>
    <button mat-button [matMenuTriggerFor]="userMenu">
        {{(user | async)?.username}}
    </button>
    <mat-menu #userMenu>
        <button mat-menu-item (click)="sair()">
            <mat-icon>exit_to_app</mat-icon>
            Sair
        </button>
    </mat-menu>
</mat-toolbar>
<!-- 
<div class="wrapper"> -->
<mat-drawer-container class="container">
    @if(!!apps){<mat-drawer mode="side" opened>
        @for (app of apps; track $index) {
        <button mat-icon-button [matTooltip]="app.name" [matTooltipPosition]="'right'"
            (click)="appClickHandler($event, app)">
            @if(app.icon){<mat-icon>{{app.icon}}</mat-icon>}
            <!-- {{app.name}} -->
        </button>
        }
    </mat-drawer>}
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<!-- </div> -->