<ci-navbar></ci-navbar>
<mat-drawer-container class="container">
    @if(!!apps){<mat-drawer mode="side" opened auto-scroll="vertical" tabindex="0">
        <div class="inner">
            <button mat-icon-button [matMenuTriggerFor]="menuX">
                <mat-icon>apps</mat-icon>
            </button>
            <mat-menu #menuX>
                <div class="menu--inner">
                    @for (app of apps; track $index) {
                    <button mat-icon-button class="app" routerLinkActive="side-ativo" [routerLink]="'/' + app.url"
                        (click)="appClickHandler($event, app)">
                        @if(app.icon){
                        @if(app.type === 'svg'){
                        <mat-icon [svgIcon]="app.icon"></mat-icon>
                        }
                        @else{
                        <mat-icon>{{app.icon}}</mat-icon>
                        }
                        }
                        <div class="title">{{app.name}}</div>
                    </button>
                    }
                </div>
            </mat-menu>
            <div class="apps">
                @for (app of favs; track $index) {
                <button [style.z-index]="100-(app.__presentation_order||0)"
                    [style.margin-top]="((app.__presentation_order || 0) * 48) + 'px' " mat-icon-button class="app"
                    [matTooltip]="app.name" [matTooltipPosition]="'right'" routerLinkActive="side-ativo"
                    [routerLink]="'/' + app.url" (click)="appClickHandler($event, app)">
                    @if(app.icon){
                    @if(app.type === 'svg'){
                    <mat-icon [svgIcon]="app.icon"></mat-icon>
                    }
                    @else{
                    <mat-icon>{{app.icon}}</mat-icon>
                    }
                    }
                    <div class="title">{{app.name}}</div>
                </button>
                }
            </div>
        </div>
    </mat-drawer>}
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>