<div class="game-container">
  @if(stage==='game'){
  <h2>Turno: <span [style.color]="turn">{{ turn | uppercase }}</span></h2>
  <div class="board">
    <div *ngFor="let cell of board" class="cell" [class.dark]="(cell.row + cell.col) % 2 !== 0"
      [class.selected]="selectedCell === cell" (click)="selectCell(cell)">
      <div *ngIf="cell.piece" class="piece" [class]="cell.piece"></div>
    </div>
  </div>
  <button (click)="stage='init'">Desistir</button>
  }@else{
  <div class="col">
    <input type="text" placeholder="Nickname">
    <button (click)="initBoard()">Inciar Jogo</button>
  </div>
  }
</div>