@if(!pranchetas){
<header *ngIf="!!user$?.value">
    <h1>Bem-vinde de volta, {{(user$ | async)?.fullName}}!</h1>
</header>
}
@else{
<mat-tab-group #tabGroup [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event">
    @for (prancheta of pranchetas; track pi; let pi = $index) {
    <mat-tab [label]="prancheta.title || 'Inominada'">
        <ci-prancheta [layout]="prancheta.layout || undefined" [widgets]="loadWidgets(prancheta)"></ci-prancheta>
    </mat-tab>
    }
</mat-tab-group>
}
<!-- <ng-template #pranchetaTemplate let-widgets="widgets">
    
</ng-template> -->