@if(!pranchetas){
<header *ngIf="!!user$?.value">
    <h1>Bem-vinde de volta, {{(user$ | async)?.fullName}}!</h1>
</header>
<!-- <ng-container *ngTemplateOutlet="pranchetaTemplate;context:{widgets:loadWidgets(prancheta)}"></ng-container> -->
}
@else{
<mat-tab-group>
    @for (prancheta of pranchetas; track $index) {
    <mat-tab [label]="prancheta.title || 'Inominada'">
        <ng-container *ngTemplateOutlet="pranchetaTemplate;context:{widgets:loadWidgets(prancheta) }"></ng-container>
    </mat-tab>
    }
</mat-tab-group>
}
<ng-template #pranchetaTemplate let-widgets="widgets">
    <div class="cards container layout-container">
        <ng-container *ngFor="let widget_g of widgets">
            <ng-container *ngIf="!!widget_g.widget.component">
                <div class="card-wrapper">
                    <ng-container
                        *ngComponentOutlet="widget_g.widget.component;inputs:widget_g.settings"></ng-container>
                </div>
            </ng-container>
        </ng-container>
        <!-- <ng-container> -->
        <div class="empty-card">
            <button mat-icon-button matTooltip="Adicionar Visualização"
                [matMenuTriggerFor]="menu"><mat-icon>add</mat-icon></button>
            <mat-menu #menu>
                <button mat-menu-item (click)="adicionarCard()">
                    Pesquisar por Widget
                </button>
                <button mat-menu-item (click)="instalarWidget()">
                    Instalar Widgets
                </button>
                <button mat-menu-item (click)="criarWidget()">
                    Criar Widget
                </button>
            </mat-menu>
        </div>
        <!-- </ng-container> -->
    </div>
</ng-template>