.board {
    display: flex;
    flex-direction: column;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    min-width: min(80vw, 80vh);
    min-height: min(80vw, 80vh);
    border: 2px solid #333;
}

:host {
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: min(80vw, 80vh);
    min-height: min(80vw, 80vh);
}

c-threjs {
    // min-width: 400px;
    // min-height: 300px;
    width: auto;
    height: min(80vw, 80vh);
    min-width: min(80vw, 80vh);
    // min-height: min(80vw, 80vh);
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(6vw, 6vh);
    cursor: pointer;
}

.light {
    background-color: #eedcbe;
}

.dark {
    background-color: #b58863;
}

.selected {
    background-color: #7b61ff !important;
}

.piece.w {
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.piece.b {
    color: #000;
}

.legeng {
    background: var(--mat-app-background-color);
    color: var(--mat-app-text-color);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
    min-height: 180px;
    align-self: center;
    justify-self: center;
}

.status {
    display: flex;
    flex-direction: roe;
    align-items: center;
    justify-content: center;
}