@if(stage==='menu'){
<div class="menu">
    <button mat-raised-button (click)="start()">
        Nova Partida!
    </button>
    <!-- <button mat-button>
        Procurar oponente...
    </button> -->
    <button mat-raised-button color="accent" (click)="startVsIA()">
        Jogar vs IA
    </button>
    <!--  <button mat-button>
        Agendar partida
    </button> -->
    <!-- <button mat-button>
        Notificar-me quando outro jogador estiver procurando por oponente
    </button> -->
</div>
}
@else if(stage==='play'){
<div class="chess-container" #rendererContainer>
    <c-threjs [objetos]="objetos" [camera]="camera"></c-threjs>
    <!--  <div class="board">
        <div *ngFor="let row of board; let i = index" class="row">
            <div *ngFor="let cell of row; let j = index" class="square" [ngClass]="(i + j) % 2 === 0 ? 'light' : 'dark'"
                [class.selected]="selectedSquare === getCoords(i, j)" (click)="onSquareClick(i, j)">
                <span *ngIf="cell" class="piece" [ngClass]="cell.color">
                    {{ getPieceSymbol(cell) }}
                </span>
            </div>
        </div>
    </div> -->
    <span *ngIf="isVsIA && game.turn() === 'b'">(IA pensando...)</span>
    <div class="row legeng">
        <div class="status">
            Vez do jogador: {{ game.turn() === 'w' ? 'Brancas' : 'Pretas' }}
        </div>
        <span style="flex: auto;"></span>
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #optionsMenu>
            <button mat-menu-item (click)="ajudaMe()">
                Ajuda
            </button>
            <button mat-menu-item (click)="desistir()">
                Desistir
            </button>
        </mat-menu>
    </div>
</div>
}