<ci-l-nav></ci-l-nav>
<header>
  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form && stage !== 'authenticated'">
    <ng-container *ngIf="stage === 'identification'">
      <h1>Olá,</h1>
      <p>Para prosseguirmos, precisamos que se identifique</p>
      <mat-form-field>
        <input matInput type="text" inputmode="latin-name" focused name="username" placeholder="Identificação"
          formControlName="identification" />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Acessar</button>
      <a routerLink="/criar-conta">Não possui uma conta? Criar conta</a>
    </ng-container>
    <ng-container *ngIf="stage === 'authentication'">
      <mat-form-field>
        <input matInput type="password" name="password" focused placeholder="Senha" formControlName="password" />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">
        Confirmar senha
      </button>
    </ng-container>
  </form>
</header>
<ci-l-footer></ci-l-footer>