<nav>
  <ul>
    <li><a routerLink="/">Início</a></li>
    <li><a routerLink="/criar-conta">Criar Conta</a></li>
  </ul>
</nav>

<header>
  <form>
    <mat-form-field>
      <input matInput type="text" placeholder="Identificação" />
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Senha" />
      <mat-icon matPrefix>password</mat-icon>
    </mat-form-field>
  </form>
</header>

<footer>
  <div class="assinatura">
    Portal do Cliente | plhx.com.br - Todos os direitos reservados
  </div>
</footer>
