:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

nav {
  background: linear-gradient(to top, #333 0%, #444 100%);
  position: sticky;
  top: 0;
  z-index: 3;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));

  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
    padding: 8px;
  }

  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  ul,
  li {
    display: contents;
  }
}

header {
  min-height: 80vh;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(/assets/1000_F_648400929_gz47vTaL0xNLD4iqRpL5KCtjCRzAdllY.jpg);

  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #111;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-end;
  color: #999;
  padding-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  width: 380px;

  border-radius: 6px;
  background: linear-gradient(to top, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .0) 100%);
  backdrop-filter: blur(8px);

  box-shadow: 0 0 48px rgba(0, 0, 0, 0.7);
}