<header>
    <form>
        <h1>Criar conta</h1>
        <h3>ci.dev.br</h3>
        <p>Crie sua conta ci.dev.br para acessar nossos serviços.
        </p>
        <mat-form-field>
            <mat-label>Apelido</mat-label>
            <input matInput type="text" placeholder="Apelido">
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha para acesso</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-checkbox>Vincular conta a uma Pessoa Física ou Jurídica</mat-checkbox>
        <mat-checkbox>Receber anúncios de parceiros de acordo com minhas preferências</mat-checkbox>
        <button mat-raised-button type="submit">Criar conta</button>
        <small style="margin-top: 12px;">
            Já possui conta ci.dev.br ? <a routerLink="/acessar" href="/acessar">Acessar</a>
        </small>
    </form>
    <div class="destaque">
        <img class="logo" src="logo-colorida.svg" alt="">
        <p>Acesse todos os espaços ci.dev.br com uma única. </p>
    </div>
</header>
<footer>

    <div class="assinatura">
        ci.dev.br 2024. Todos os direitos reservados.
    </div>
</footer>