:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    color: black;
}

.logo {
    width: 250px;
    object-fit: cover;
}

form {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 320px;
    border-radius: 48px;
    border: solid 4px #efefef;
    box-shadow: 0px 15px 48px -15px rgba(0, 0, 0, .4);

    > * + * {
        margin-top: 12px;
    }

    ::ng-deep {

        mat-form-field,
        mat-checkbox {

            &,
            * {
                color: black !important;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: auto;
    align-self: center;
}

header {
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;

    .destaque {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

figure {
    user-select: none;
    pointer-events: none;
}