:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    //  text-align: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    color: black;
}


.logo {
    width: 250px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 350px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, .2);

    ::ng-deep {

        mat-form-field,
        mat-checkbox {

            &,
            * {
                color: black !important;
            }
        }

    }

}


.container {
    display: flex;
    // width: 100%;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    flex: auto;
    align-self: center;
    padding: 24px;
}

header {
    justify-self: center;
    align-self: center;

    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    padding: 40px;

    .destaque {
        // flex: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding: 24px;

    // color: white;
    // background: rgba(0, 0, 0, .99);

    .assinatura {
        font-weight: 100;
        font-size: 10px;
    }
}