<header>
    <div class="destaque">
        <img class="logo" src="logo-colorida.svg" alt="">
        <p>Crie aplicativos incríveis. </p>
    </div>
    <form [formGroup]="form" (ngSubmit)="confirmar()">
        <h1>Inscrever-se</h1>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>
        <small>Posteriormente você poderá preencher outras informações do seu cadastro.</small>
        <mat-checkbox>Autorizo o envio de e-mail para validar meu cadastro.</mat-checkbox>
        <button [disabled]="form.invalid" mat-raised-button type="submit" color="accent">Inscrever-se</button>
        <small style="margin-top: 12px;">
            Já possui conta ci.dev.br ? <a routerLink="/acessar" href="/acessar">Acessar</a>
        </small>
    </form>

</header>
<footer>
    <div class="assinatura">
        ci.dev.br {{year}}. Todos os direitos reservados.
    </div>

    <div class="privacy">
        Políticas e Termos
    </div>
</footer>