<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    Cadastros do Sistema
    <span style="flex: auto;"></span>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<div class="draw">
    <div class="sidenav">
        <button mat-raised-button>
            <div class="icon --cadastro-pessoa"></div>
            Contatos
        </button>
        <button mat-raised-button>
            <div class="icon --endereco"></div>
            Endereços
        </button>
        <button mat-raised-button>
            <div class="icon --imagens"></div>
            Fotos
        </button>
        <button mat-raised-button>
            <div class="icon --cliente"></div>
            Clientes
        </button>
    </div>
    <div class="container">
        <header>
            <h1>
                Cadastros
            </h1>
            <div class="row">
                <p></p>
            </div>
        </header>
        <!--  <section>
            <p>cadastros works!</p>
        </section> -->
    </div>
</div>
<nav class="status">
    Status
</nav>