<nav>
    Cadastros

</nav>
<div class="draw">
    <div class="sidenav">
        <button mat-raised-button>
            <div class="icon --cadastro-pessoa"></div>
            Pessoa
        </button>
        <button mat-raised-button>
            <div class="icon --endereco"></div>
            Endereços
        </button>
        <button mat-raised-button>
            <div class="icon --imagens"></div>
            Fotos
        </button>
        <button mat-raised-button>
            <div class="icon --cliente"></div>
            Clientes
        </button>
    </div>
    <div class="container">
        <header>
            <h1>
                Cadastros
            </h1>
            <div class="row">

            </div>
        </header>
        <section>
            <p>cadastros works!</p>
        </section>
    </div>
</div>
<nav class="status">
    Status
</nav>