<mat-toolbar>
    <form [formGroup]="pesquisa">
        <button mat-raised-button (click)="stage = 'new-category'">Novo Grupo</button>
        <mat-form-field appearance="outline" style="flex: auto;">
            <mat-label>Pesquisar</mat-label>
            <input matInput type="text" formControlName="search" placeholder="Procurar aplicativo">
        </mat-form-field>
    </form>
</mat-toolbar>
<div style="display:flex; flex-direction:row; align-items: stretch; justify-content: stretch;">
    <div style="display:flex; flex-direction:column; align-items: stretch; gap: 0;">
        <button mat-button>Grupos</button>
        <button mat-button>Explorar Aplicativos</button>
    </div>
    <div class="container">
        @if(stage === 'new-category'){
        <form>
            <p>Vamos criar um grupo de aplicativos. Primeiramente vamos escolher um nome.</p>

            <mat-form-field>
                <mat-label>Nome da Categoria</mat-label>
                <input matInput placeholder="Nome da Categoria" />
            </mat-form-field>

            <button mat-raised-button>Avançar</button>
        </form>
        }
    </div>
</div>