:host {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.termo {
    margin: 48px;
    max-width: 80vw;
        color: black;
    text-justify: distribute;
    text-align: justify;
}