<div class="container">
    <h1>
        <mat-icon>construction</mat-icon>
        Ferramentas de Desenvolvimento
    </h1>

    <div class=" cards">
        <div class="card">
            <h1>Projetos</h1>
            <button mat-raised-button>Novo</button>
            <button mat-raised-button>Editar</button>
        </div>
        <div class="card">
            <h1>Tarefas</h1>
            <button mat-raised-button>Continuar</button>
            <button mat-raised-button>Cadastrar</button>
            <button mat-raised-button>Encerrar</button>
        </div>
        <div class="card">
            <h1>Modulos</h1>
            <button mat-raised-button>Criar Novo</button>
            <button mat-raised-button>Importar</button>
            <button mat-raised-button>Exportar</button>
            <button mat-raised-button>Editar</button>
        </div>
        <div class="card">
            <h1>Seriços SMS</h1>
            <button mat-raised-button>Cadastrar Serviço SMS</button>
            <button mat-raised-button>Monitorara Tráfego</button>
        </div>
        <div class="card">
            <h1>Serviços E-mail</h1>
            <button mat-raised-button>Servidores SMTP</button>
            <button mat-raised-button>Adicionar servidor</button>
            <button mat-raised-button>Monitorar Tráfego</button>
        </div>
    </div>
</div>