<ci-l-nav></ci-l-nav>
<mat-tab-group>
    <mat-tab mat-align-tabs="center">
        <ng-template mat-tab-label>
            <mat-icon>devices</mat-icon>
            Dispositivos
        </ng-template>
        <mat-toolbar>
            <button mat-raised-button (click)="conectarDispositivo()">
                <mat-icon>smartphone</mat-icon>
                Conectar Dispositivo
            </button>
        </mat-toolbar>
        <div style="display: flex; flex-direction: column;align-items: center;justify-content: center;">
            <small>Nenhum dispositivo conectado...</small>
            <ngx-qrcode [value]="token">
            </ngx-qrcode>
            <small>Leia o QRCode com o aplicativo para celular para conectar o aparelho aos serviços.</small>
        </div>
    </mat-tab>
    <mat-tab mat-align-tabs="center">
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
            Configurações
        </ng-template>
    </mat-tab>
    <mat-tab mat-align-tabs="center">
        <ng-template mat-tab-label>
            <mat-icon>apps</mat-icon>
            Application Manager
        </ng-template>
        <ci-application-manager></ci-application-manager>
    </mat-tab>
    <mat-tab mat-align-tabs="center">
        <ng-template mat-tab-label>
            <mat-icon>apps</mat-icon>
            Usuários
        </ng-template>
        <ci-users-view></ci-users-view>
    </mat-tab>
</mat-tab-group>