:host {
    // background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    flex: auto;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 50;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3px;
    /* scale: .6; */
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 50;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3px;
    /* scale: .6; */
    /* transition: scale .45s; */
}

tr {
    .acoes {
        opacity: .0;
        transition: opacity .43s;

    }

    &:hover {
        background-color: #dedede;

        .acoes {
            opacity: 1;

            .row {
                /* scale: 1; */

            }
        }
    }
}

::ng-deep body {
    background: url('/assets/The Writer.png');
    background-position: center center;
    background-repeat: no-repeat;
}

mat-tab-group {
    background: rgba(255, 255, 255, .33);
    backdrop-filter: blur(12px);
    margin: 12px;
    border: solid 1px rgba(white, .55);
    border-radius: 8px;
    overflow: hidden;
    flex: auto;
    box-shadow: inset 0px 0px 7px rgba(white, .77);
    padding-bottom: 12px;
    filter: drop-shadow(0 3px 6px rgba(black, .44));
    max-height: calc(100vh - 110px);


    mat-tab {}
}

.apps {

    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 24px;

    .card.app {
        border: solid 2px rgba(black, .11);
        border-radius: 7px;
        padding: 12px;
        background-color: white;
        box-shadow: 0px 3px 6px rgba(black, .55);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}