<div class="container">
    <h1>
        <mat-icon>storefront</mat-icon>
        Vendas
    </h1>
    <div class="cards">
        <div class="row">
            <div class="card info">
                <h1>Saldo</h1>
            </div>
            <div class="card info">
                <h1>Vendas</h1>
            </div>
            <div class="card info">
                <h1>Clientes</h1>
            </div>
            <div class="card info">
                <h1>Resumo do dia</h1>
            </div>
        </div>
        <!-- <span style="flex: 100%; margin: -12px 0;"></span> -->
        <div class="row">
            <div class="card -col-2-4">
                <h1>Faturamento Anual</h1>
            </div>
            <div class="card -col-2-4">
                <h1>Faturamento Mensal</h1>
            </div>
        </div>
        <!--  <span style="flex: 100%; margin: -12px 0;"></span> -->
        <div class="row">
            <div class="card -col-1-3">
                <h1>Top 5 Produtos</h1>
            </div>
            <div class="card -col-1-3">
                <h1>Top 5 Clientes</h1>
            </div>
            <div class="card -col-1-3">
                <h1>Top 5 Categorias</h1>
            </div>
        </div>
    </div>
</div>