@mixin card($color: #cdcdcd) {
    &::before {
        content: " ";
        width: 4px;
        position: absolute;
        background: $color;
        top: 7px;
        bottom: 7px;
        left: 7px;
    }

    background: rgba($color, .033);
    backdrop-filter: blur(7px);
}

@mixin decorar($clazz) {
    & {
        @include card(#229922);

        &+#{$clazz} {
            @include card(#226688);

            &+#{$clazz} {
                @include card(#91be13);

                &+#{$clazz} {
                    @include card(#bb79cf);

                    &+#{$clazz} {
                        @include card(#ca7423);

                        &+#{$clazz} {
                            @include card(#e65fae);

                            &+#{$clazz} {
                                @include card(#2eb7e0);

                                &+#{$clazz} {
                                    @include card(#b630b6);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.card {
    padding: 24px;
    border: solid 2px rgba(0, 0, 0, .33);
    border-radius: 3px;
    flex: auto;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, .33);
    position: relative;

    &.info {
        @include decorar('.info');
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 14px;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }
}

.cards {
    $gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .row {
        display: flex;
        flex-direction: row;
        flex: 100%;
        gap: $gap;
        flex-wrap: wrap;

        >.card {
            flex: 1;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 48px;
}