:host {
  width: auto;
  background: #cecece;
}

.group-tools {
  border: solid 1px #cecece;
  border-radius: 4px;

  padding: 8px;
  padding-bottom: 20px;
  background: white;

  position: relative;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .7);

  display: flex;
  flex-direction: row;
  gap: 6px;

  .groups-tools-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    text-align: center;
    font-size: .6em;
    color: #cecece;
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, .33));
    user-select: none;
  }

}

.content {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to top, rgba(200, 200, 200, .5) 0%, rgba(255, 255, 255, .7) 100%);
  border-bottom: solid 1px rgba(170, 170, 170, .5);

  overflow: hidden;
  overflow-x: auto;

  padding: 3px;
}