:host {
  display: flex;
  flex-direction: column;

  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

mat-drawer-container {
  background: url('/assets/bg-dashboard.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-drawer-container {
  flex: auto;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  position: absolute;
  right: 0;
}