:host {
    display: flex;
    flex-direction: row;

    align-items: stretch;
    justify-content: center;

    gap: 12px;

    padding: 12px;
    flex-wrap: wrap;
    max-width: 80vw;
    max-height: 80vh;

    >* {
        flex: 1;
    }
}

form {
    display: contents;

    mat-form-field {
        flex: 1;
        min-width: 150px;

        &.small {
            min-width: 80px;
        }

        &.auto {
            flex: auto;
        }

    }
}