<mat-form-field>
    <input matInput
        type="text"
        placeholder="ID"
        readonly
        formControlName="id">
</mat-form-field>
<mat-form-field>
    <input matInput
        type="text"
        placeholder="Nome"
        formControlName="name">
</mat-form-field>
<mat-form-field>
    <input matInput
        type="text"
        placeholder="URL"
        formControlName="url">
</mat-form-field>
<mat-form-field>
    <input matInput
        type="text"
        placeholder="Ícone"
        formControlName="icon">
</mat-form-field>
<mat-form-field>
    <input matInput
        type="text"
        placeholder="Descrição"
        formControlName="description">
</mat-form-field>